:root{
    --cor-fundo: #D3D3D3;
    --cor-texto: #2E7D32;
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

.box-main{
    background-color: var(--cor-fundo);
    padding-bottom: 2.5rem;
}