*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif;
}

.features{
    background-color: #F5F5F5;
    padding-bottom: 2.5rem;
}

.servicos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.item-servico{
    flex-basis: 30%;
    flex-grow: 1;
}

@media (max-width: 576px){
    .servicos{
        flex-wrap: wrap;
    }
    .item-servico{
        flex-basis: 100%;
    }
}