:root{
    --cor-fundo: #2E7D32;
    --cor-texto: #f5f5f5;
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main-box{
    background-color: var(--cor-texto);
    padding-bottom: 2rem;
    text-align: center;
}

.title-team{
    padding-top: 50px;
    color: var(--cor-fundo);
}

.box-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.cards{
    min-width: 300px;
}

.teste{
    z-index: -20;
}

.buttons-card{
    justify-content: center;
}