* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.title-cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.subtitle-cat {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 3vh 2vw;
}

.form-cat {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 5vh 2vw;
    gap: 50px;
}

.dados-empresa, 
.dados-atestado-medico,
.dados-medico,
.dados-acidente {
    flex: 1 1 auto;
    margin-top: 2vh;
}

@media (max-width: 576px) {
    .form-cat {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        /* margin: 1vh 1vw; */
    }

    .dados-empresa,
    .dados-atestado-medico,
    .dados-medico,
    .dados-acidente {
        align-self: stretch;
    }
}