:root{
    --cor-fundo: #FFFFFF;
    --cor-texto: #2E7D32;
}

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.contact{
    background-color: var(--cor-fundo);
    padding-bottom: 2rem;
    text-align: center;
}

/* .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.title-text-contact{
    text-align: center;
    padding-top: 50px;
}

.contact-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.main-contact{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: stretch;
    margin-top: 2rem;
}

.name-and-email{
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px){
    .name-and-email{
        flex-direction: column;
        justify-content: space-between;
    }
}
@media (max-width: 1000px){
    .contact-links{
        flex-direction: column;
        align-items: center;
    }
}