*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sauce One';
  font-display: auto;
  src: url(https://fonts.cdnfonts.com/css/open-sauce-one.woff) format('woff');
}

.clients {
  background-color: #F5F5F5;
  padding-bottom: 2.5rem;
}

.clients-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.card-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.img-box {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

.card-image {
  width: 100%;
}

.title-client {
  padding-top: 4px;
}

@media(max-width: 600px) {
  .card-client {
    width: 150px;
    height: 150px;
  }
  .card-client h6 {
    font-size: 0.9rem;
  }
}

@media(max-width: 360px) {
  .card-client {
    width: 130px;
    height: 130px;
  }
  .card-client h6 {
    font-size: 0.8rem;
  }
}